.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
  height: 100vh;
	padding-top: 50px;
	max-width: 40vw;
}

body {
	/* background-image: url(/images/MBTA.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:100%; */
	/* filter: brightness(1.5) */
	/* transform: rotate(20deg); */
}

.outer {

}

.inner {
	max-height: 75vh;
	border: 2px solid black;
	border-radius: 46px;
	/* background-color: white;
	background-blend-mode: lighten; */
	box-shadow: 10px 10px 15px grey;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}

/* .logo {
	flex-grow: 1;
	align-self: flex-start;
} */

.empty {
	flex-grow: 1;
}
.station {
	font-weight: 900;
	font-size: 100px;
	margin-top: -20px;
	margin-bottom: -25px;
}

button {
	padding: 2px;
}

.pulldown {
	padding-top: 2px;
	padding-bottom: 2px;
}

.direction {
	padding-top: 10px;
	font-weight: 600;
}

.arrivals {
	padding-left: 25px;
}

.trips {
	padding-left: 10px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
