.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
  height: 300px;
	padding-top: 50px;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}

.leftColumn {
	flex: 70%;
	padding: 4px;
}
.rightColumn {
	flex: 30%;
	text-align: right;
	padding: 4px;
}

/*div:nth-child(even) {
	background: #eee;
}
*/
